.title{
    background-color: #083e46;
    color: white;
    width: 100%;
}   
.mark{
    width: fit-content;
}    
.tombolatas{
    background-color: #083e46;
    border-top: 1pt white solid;
    height: fit-content;
    padding-bottom: 15pt;
    width: 100%; 
}
.link, .button {
    padding-top: 15px;
    padding-left:15px ;
    display: inline;
}
/*
.link a{
    text-decoration: none;
    margin-right: 15px;
    padding: 7pt;
    color: yellow;
    font-size: 16pt;
    float: left;
    position: relative;
    bottom: 4px;
    left: 8px;
}
.link a:hover{
    color: rgb(211, 57, 57);
}
*/
.button a{
    text-decoration: none;
    margin-right: 10pt ;
    padding: 3pt 8pt;
    color: white;
    border: white 1pt solid;
    border-radius: 5pt;
    float: right;
    position: relative;
    right: 5%;
    top: 0.5%;
}
.button a:hover{
    color: rgb(247, 247, 126);
    border-color: rgb(247, 247, 126);
}
.tombolatas button{
    padding: 2pt;
    display: none;
}
.daftar{
    color: rgb(76, 76, 172);
    font-size: 18pt;
}
.login{
    color: rgb(76, 76, 172);
    font-size: 18pt;
}
.daftar:hover{
    color: rgb(58, 5, 63);
}
.login:hover{
    color: rgb(58, 5, 63);
}
.body{
    margin-top: 10%;
}
@media screen and (max-width: 800px){
    .mark{
        margin: 0 auto;
    }                
    .tombolatas button{
        display: inline;
        float: right;
        margin-inline-end: 1cm;
        margin-top: 5pt;
    }
    .link a, .button a {
        float: none;
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8pt;
        text-align: center;
    }
}
