.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 20%;
    left: 90%;
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57)
}
.username{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 25px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    position: absolute;
    top:490px;
    left:1210px;
}
.password{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 25px;
    color: black;
    text-decoration: none;
    position: absolute;
    top:535px;
    left:1210px;
}
.masuk{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(6, 48, 68);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    position: absolute;
    top:625px;
    left:640px;
}
.masuk:hover{
    background-color: black;
}
.register:hover{
    color: rgb(179, 15, 179);
    transition: 0.6s ease;
}
