.title{
    background-color: #083e46;
    color: white;
    width: 100%;
}   
.mark{
    width: fit-content;
}    
.tombolatas{
    background-color: #083e46;
    height: fit-content;
    padding-bottom: 10pt;
    width: 100%; 
}
.link, .button {
    padding-top: 15px;
    padding-left:15px ;
    display: inline;
}
.button a{
    text-decoration: none;
    margin-right: 10pt ;
    padding: 3pt 10pt;
    color: white;
    border: white 1pt solid;
    border-radius: 5pt;
    float: right;
    position: relative;
    right: 2%;
    bottom: 2%;
}
.button a:hover{
    color: rgb(247, 247, 126);
    border-color: rgb(247, 247, 126);
}
.tombolatas button{
    padding: 2pt;
    display: none;
}
.login{
    color: rgb(76, 76, 172);
    font-size: 18pt;
}
.login:hover{
    color: rgb(58, 5, 63);
}
.body{
    margin-top: 7%;
}
.text{
    font-size: 17pt;
    color:rgb(114, 112, 112);
    margin-left: 30%;
}
.username{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 25px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    margin-left: 4%;
}
.password{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 25px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    margin-left: 4.4%;
}
.masuk{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(6, 48, 68);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 16pt;
    margin-left: 46%;
    margin-top: 2%;
}
.masuk:hover{
    background-color: black;
}
.register{
    font-size: 10pt; 
    color: rgb(49, 49, 138);
}
.register:hover{
    color: rgb(179, 15, 179)
}
@media screen and (max-width: 800px){
    .mark{
        margin: 0 auto;
    }                
    .tombolatas button{
        display: inline;
        float: right;
        margin-inline-end: 1cm;
        margin-top: 5pt;
    }
    .link a, .button a {
        float: none;
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8pt;
        text-align: center;
    }
    .text{
        margin: 0 auto;
        margin-left: 1%;
    }
}
