.button{
    position: absolute;
    top: 30.5%;
    left: 3%;;
}
.search{
    position: absolute;
    border: 1px solid white;
    padding: 5px 40px;
    color: white;
    top: 30.3%;
    left: 67%;
}
.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 30%;
    left: 86%;
}
.notifikasi{
    position: absolute;
    top:30.5%;
    left: 95%;
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57)
}
.logout{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1205px;
    top: 23%;
}
.logout:hover{
    color: rgb(146, 182, 17);
}
b{
	margin-left: 30px;
	margin-top: 0px;
}
.buku{
	margin-left: 300px;
	
}
.buku1{
	margin-left: 200px;
	margin-top: 0 px;
}
.buku1 .Tambahkan{
	background-color: green;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
	margin-right: 20%;
	margin-left: 70%;
}
.Matematika{
	background-color: white;
	color: black;
	border : 1px solid black;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
	margin-left: : 20%;
	border-radius: 40%

}
.pesan{
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
	margin-right: 20%;
	margin-left: 70%;
}
.Tambahkan{
	background-color: green;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
	margin-right: 20%;
	margin-left: 70%;
}
}
