.judul{
    /*border: red 1pt solid;*/
    background-color: #083e46;
    color: white;
    width: 100%;
        }   
.isijudul{
    /*border: red 1pt solid;*/
    width: fit-content;
}    
.judul img{
    /*border: red 1pt solid;*/
}         
.judul h2{
    /*border: red 1pt solid;*/
    width: fit-content;
    display: inline;
    vertical-align: 10pt;
}
.tombolatas{
    background-color: #083e46;
    border-top: 2pt white solid;
    height: fit-content;
    padding-bottom: 15pt;
    /*position: fixed;*/
    width: 100%;
    
}
.tombolatas .cari{
	float: right;
	padding-right: 40pt;
	padding-top: 10pt;
	padding-bottom: 10pt;
}
.tombolataskiri, .tombolataskanan {
    padding-top: 15pt;
    padding-left:10pt ;

    display: inline;
}
.tombolataskiri a{
    text-decoration: none;
    background-color: #083e46;
    margin-right: 10pt ;
    padding: 7pt;
    color: yellow;
    float: left;
}
.tombolataskanan a{
    text-decoration: none;
    border: #083e46 2pt solid;
    margin-right: 10pt ;
    padding: 5pt;
    color: black;
    float: right;
    margin-top: 5pt;
}
.tombolatas button{
    padding: 2pt;
    display: none;
}
.button{
    position: absolute;
    top: 30.5%;
    left: 3%;;
}
.search{
    position: absolute;
    border: 1px solid white;
    padding: 5px 40px;
    color: white;
    top: 30.3%;
    left: 67%;
}
.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 30%;
    left: 86%;
}
.notifikasi{
    position: absolute;
    top:30.5%;
    left: 95%;
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57);
}
.logout{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1205px;
    top: 23%;
}
.logout:hover{
    color: rgb(146, 182, 17);
}
.selesai{
	border: 1px solid white;
    padding: 10px 20px;
    background-color: rgb(36, 110, 196);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
	position: absolute;
	top: 100%;
	left: 50%;
}
.selesai:hover{
    background-color: rgb(43, 185, 98);
}
.tabel{
    position: absolute;
    left: 18%;
    top: 63%;
    background-color: rgba(248, 249, 250, 0.938);
    border: white
}
.
