.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 20%;
    left: 90%;
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57)
}
.username{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:515px;
    left:1510px;
}
.jeniskelamin{
    position: absolute;
    top:545px;
    left:680px;
}
.alamat{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:605px;
    left:1510px;
}
.email{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:650px;
    left:1510px;
}
.password{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:715px;
    left:1510px;
}
.ktp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:760px;
    left:1510px;
}
.hp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:805px;
    left:1510px;
}
.register{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(6, 48, 68);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    position: absolute;
    top:880px;
    left:640px;
}
.register:hover{
    background-color: black;
}
.login:hover{
    color: rgb(143, 26, 143)
}
