.button{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.search{
    position: absolute;
    border: 1px solid white;
    padding: 5px 40px;
    color: white;
    top: 35%;
    left: 75.3%;
    transform: translate(-40%,-50%);
}
.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 35%;
    left: 90%;
    transform: translate(-50%,-50%);
}
.notifikasi{
    position: absolute;
    top: 35%;
    left: 96%;
    transform: translate(-50%,-50%);
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57)
}
.username{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:578px;
    left:1510px;
}
.alamat{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:645px;
    left:1510px;
}
.email{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:680px;
    left:1510px;
}
.password{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:715px;
    left:1510px;
}
.ktp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:750px;
    left:1510px;
}
.hp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 60px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    transform: translate(-50%,-50%);
    position: absolute;
    top:785px;
    left:1510px;
}
.register{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(6, 48, 68);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.register:hover{
    background-color: black;
}
.login:hover{
    color: rgb(143, 26, 143)
}
