.title{
    background-color: #083e46;
    color: white;
    width: 100%;
}   
.mark{
    width: fit-content;
}    
.tombolatas{
    background-color: #083e46;
    height: fit-content;
    padding-bottom: 10pt;
    width: 100%; 
}
.link, .button {
    padding-top: 15px;
    padding-left:15px ;
    display: inline;
}
.button a{
    text-decoration: none;
    margin-right: 10pt ;
    padding: 3pt 10pt;
    color: white;
    border: white 1pt solid;
    border-radius: 5pt;
    float: right;
    position: relative;
    right: 2%;
    bottom: 2%;
}
.button a:hover{
    color: rgb(247, 247, 126);
    border-color: rgb(247, 247, 126);
}
.tombolatas button{
    padding: 2pt;
    display: none;
}
.login{
    color: rgb(76, 76, 172);
    font-size: 18pt;
}
.login:hover{
    color: rgb(58, 5, 63);
}
.body{
    margin-top: 7%;
}
.text{
    font-size: 16pt;
    color:grey;
    margin-left: 30%;
}
.username{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 5%;
}
.jeniskelamin{
    margin-left: 42%;
}
.alamat{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 7%;
}
.email{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 7.9%;
}
.password{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 5.6%;
}
.ktp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 8.8%;
}
.hp{
    border: 1px solid grey;
    border-radius: 3%;
    padding: 6px 30px;
    color: black;
    text-decoration: none;
    margin-left: 7%;
}
.register{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(6, 48, 68);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    margin-left: 45%;
    margin-top: 5%;
}
.register:hover{
    background-color: black;
}
.login{
    font-size: 10pt; 
    color: rgb(49, 49, 138);
}
.login:hover{
    color: rgb(226, 91, 29)
}
.image-center{
    text-align: center;
}
.input-hidden{
    position: absolute;
    margin-left: 42%;
    background-color: white;
}
.bg-modal {
    width: 100%;
    height: 280%;
    background-color: rgba(0, 0, 0, 0.473);
    opacity: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content {
    width: 500px;
    height: 150px;
    background-color: rgba(253, 253, 8, 0.932);
    color: black;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(209, 51, 51);
    color: white;
}
.footer {
    background-color: #083e46;
    margin: 0px auto 0 auto;
    text-align: center;
    clear: both;
    padding-bottom: 5px;
}

.socialmedia {
    float:left;
    text-align: center;
    color: #ffffff;
    margin-left: 70px;
    margin-top: -90px;

}

.socialmedia ul li {
    display: inline-block;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}

.meidapartner {
    padding-top: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

.meidapartner img {
    width: 100px;
    height: 70px;
}

.contact {
    color: #ffffff;
    float: right;
    margin-right: 70px;
    margin-top: -90px;

}
@media screen and (max-width: 800px){
    .mark{
        margin: 0 auto;
    }                
    .tombolatas button{
        display: inline;
        float: right;
        margin-inline-end: 1cm;
        margin-top: 5pt;
    }
    .link a, .button a {
        float: none;
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8pt;
        text-align: center;
    }
    .text{
        margin: 0 auto;
        margin-left: 1%;
    }
    .username{
        padding: 6px 8px;
        margin-left: 7%;
    }
    .jeniskelamin{
        margin-left: 35%;
    }
    .alamat{
        padding: 6px 8px;
        margin-left: 12%;
    }
    .email{
        padding: 6px 8px;
        margin-left: 14.4%;
    }
    .password{
        padding: 6px 8px;
        margin-left: 7.5%;
    }
    .ktp{
        padding: 6px 8px;
        margin-left: 16.4%;
    }
    .hp{
        padding: 6px 8px;
        margin-left: 11%;
    }
}
