h1{
	color: yellow;
	margin-left: 10px;
	position: fixed;
}
h3{
	color: white;
	margin-left: 70px;
	margin-top: -60px;
	padding-top:0px;
}
.oke{
	padding-left: 1100px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.atas{
	background-color: #0b253d;
}
.pilihan .Batal{
	background-color: red;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
}
.pilihan .Pesan{
	background-color: green;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
}
.pilihan{
	margin-right: 30%;
	margin-left: 50%;
}
.tabel{
	margin-left: 15%;
	margin-right: 30%;
}