
/*.pilihan .Batal{
	background-color: red;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
}
.pilihan .Pesan{
	background-color: green;
	color: white;
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	font-family:Lohit Telugu;
	text-align: center;
	text-decoration: none;
}*/
.pilihan.batal{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(243, 44, 44);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.pilihan.simpan{
	border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(14, 190, 102);
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.pilihan.batal:hover{
    background-color: black
}
.pilihan.simpan:hover{
    background-color: rgb(83, 132, 240);
}
.pilihan{
	margin-right: 30%;
	margin-left: 50%;
}
.tabel{
	margin-left: 15%;
	margin-right: 30%;
}
.button{
    position: absolute;
    top: 30.5%;
    left: 3%;;
}
.search{
    position: absolute;
    border: 1px solid white;
    padding: 5px 40px;
    color: white;
    top: 30.3%;
    left: 67%;
}
.submit{
    position: absolute;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    top: 30%;
    left: 86%;
}
.notifikasi{
    position: absolute;
    top:30.5%;
    left: 95%;
}
.link{
    text-decoration: none;
    color: yellow;
    font-size: 16pt;
}
.link:hover{
    color: rgb(211, 57, 57);
}
.logout{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1205px;
    top: 23%;
}
.logout:hover{
    color: rgb(146, 182, 17);
}
